.content {
  background-image: url(../img/hammer-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.blog-grid {
  img {
    height: 175px;
  }
  .vc_gitem-post-data {
    p {
      min-height: 120px;
    }
  }
}
.home .vc_col-sm-12{
  @media (min-width: 768px){
    width: 85%;
    margin-left: 8%;
  }
}
.home{
  .home-ads{
    width: 87%;
    margin-left: 7%
  }
  .blog-grid-font{
    h4{
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
  }
}
.an-ad{
  @media all and (max-width: 767px){
    margin-bottom: 10px !important;
  }
}
