.content {
  background-image: url(../img/hammer-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.blog-grid {
  img {
    height: 175px;
  }
  .vc_gitem-post-data {
    p {
      min-height: 167px;
    }
  }
}
